@import url(https://db.onlinewebfonts.com/c/0fadaa21fcac88ceee0bb8da992c221b?family=Salesforce+Sans);
@font-face {
  font-family: "Salesforce-Avant-Garde";
  src: url(../assets/fonts/AVGARDD_2.TTF);
}
:root {
  --fontbody: "Salesforce Sans";
  --fontheading: "Salesforce-Avant-Garde", system-ui, -apple-system;
  --maincolor: #611f69;
  --seccolor: #9602c7;
}
* {
  font-family: var(--fontbody);
  font-size: 1rem;
  
}
body {
  margin: 0;
  width: 100%;

}
header {
  
  width: 100%;
  display: grid;
  padding-top: .5rem;
  padding-bottom: .5rem;
  
  grid-template-columns: auto 2fr 4rem 4rem;
  overflow:hidden;
  top:0;
  position: sticky;
  z-index: 20;
  background-color: white;
  box-shadow: 0 4px 40px #00000014;
}
h1 {
  letter-spacing: -0.256px;
  font-size: 2rem;
  line-height: 2.5rem;
  font-family: var(--fontheading);
}
p {
  font-size: 1.125rem;
}

a {
  text-decoration: none;
}

#logo {
  width: 6rem;
  padding-left: 1rem;
}
#searchlogo {
  width: 1.25rem;

}
.header-nav{
  display: none;
}
#signin{
  display: none;
}
.searchlogo {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 3;
}
.getStarted {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 4;
  background-color: var(--maincolor);
  color: white;
  font-weight: 600;
  border-radius: 6px;
  height: 2.5rem;
  display: none;
  
}
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
#hamburg {
  width: 1.5rem;
}

main {
  margin-top: 1.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.wherework{
  margin: 3rem 0;
  margin-bottom: 2rem;
}

.main-button {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.main-button p {
  width: 70%;
  
  font-size: 18px;
  text-align: center;
  margin-bottom: 0.45rem;
  letter-spacing: -0.004em;
  font-size: 0.9rem;
  line-height: 1.555;
  font-weight: 500;
}

.main-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--maincolor);
  color: white;
  width: 40%;
  height: 3.75rem;
  text-decoration: none;
  font-weight: 700;
  border-radius: 4px;
  min-width: 70%;
}
.main-button a + a {
  background-color: white;
  color: var(--maincolor);
  border: 1.5px solid var(--maincolor);
}

.main-connect {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2rem;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  width: 80%;
  
  gap: 20px;
}
.main-connect img {
  width: 30px;
}
#gm {
  width: 35px;
}
#openai {
  width: 70px;
  height: 20px;
}
#red{
  width: 38px;
}
#para{
  width: 64px;
}
#stripe{
  width: 68px;
}
#ibm{
  width: 65px;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
  z-index: 0;
}
.main-content .discussing-video {
  width: 75%;
  
  border-radius: 8px;
  box-shadow: 0 0 0.8rem #0000001a;
  
}
.main-content .arc {
  clip-path: ellipse(80% 200% at 50% 200%);
  background-color: #f9f0ff;
  width: 100%;
  height: 2rem;
  margin-top: -5rem;
  z-index: -1;
  position: relative;
}

.main-content .bg {
  background: #f9f0ff;
  background: linear-gradient(
    180deg,
    rgba(249, 240, 255, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  width: 100%;
  padding-top: 2.25rem;
  z-index: -1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-content .bg .headline h1 {
  text-align: center;
  margin-bottom: 3.125rem;
  margin-top: 3.9rem;
  font-weight: 700;
  padding: 0 2rem 0 2rem;
  text-align: center;
}
.main-connect .bg .collab h1 {
  text-align: center;
}
.collab {
  padding: 0 0.9rem 0 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.75rem;
}
#handclap {
  width: 30px;
  height: 22px;
}
.collab-head {
  display: flex;
  margin-right: auto;
}
.collab-head span {
  padding-top: 2px;
  font-weight: 500;
}
.card a p {
  margin-top: 1rem;
}
.collab h1 {
  margin-right: auto;
}
.fortune {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  letter-spacing: -0.004em;
  font-size: 0.9rem;
  font-weight: 700;
  line-height: 1.555;
  font-weight: unset;
  margin-bottom: 1rem;
  margin-right: auto;
}
.fortune h1 {
  color: var(--seccolor);
  font-size: 3.125rem;
  line-height: 1.25;
  font-weight: 700;
}
.main-video {
  width: 97.5%;
  border-radius: 8px;
  box-shadow: 0 0 0.8rem #0000001a;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.project {
  padding: 0 0.9rem 0 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.75rem;
}
.project h1 {
  margin-right: auto;
}
.project .fortune {
  margin-right: auto;
}

.integrations {
  padding: 0 0.9rem 0 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.75rem;
}

.integrations h1 {
  margin-right: auto;
}

.slackai {
  padding: 0 0.9rem 0 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.slackai h1 {
  margin-right: auto;
}
.slackai .fortune h1 {
  min-width: 11rem;
}
.card {
  display: flex;
  flex-direction: column;
  margin: 0 0.9rem 0 0.9rem;
  padding: 1rem;
  padding-top: 1.5rem;
  background: linear-gradient(
    #daeefe 0%,
    #e3f0ff 23.12%,
    #f9f7ff 70%,
    #fff 100%
  );
  margin-bottom: 4rem;
  box-shadow: 0 5px 20px #0000001a;
  border-radius: 1rem;
}
div h1 {
  margin-bottom: 0;
}

.quote {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 1.625rem;
  padding-right: 1.625rem;
  margin-bottom: 4rem;
  flex-direction: column;
  gap: 2rem;
}
.quote p{
  
}

.packages-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 1fr);
  grid-template-rows: repeat(auto-fill,1fr);
  justify-content: center;
  padding: 1rem;
}
.packages {
  border: 1px solid #d3d3d3;
  border-radius: 0.5rem;
  flex-direction: column;
  padding: 1rem;
  display: flex;
  margin: .5rem;
  margin-left: 0rem;
  margin-right: 0rem;
  
}
.packages h2 {
  font-family: var(--font-family-heading);
  letter-spacing: -0.004em;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.333;
  margin: 0;
}
.packages p {
  letter-spacing: 0;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.2857;
}
.packages li{
  display: flex;
  justify-content: left;
  
}
.packages li p{
  margin:0;
}
.packages li img {
  position: relative;
  top:-4px
}
.packages ul{
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .425rem
}
.packages p+p{
  margin-bottom: 0;
}
.packages li .packai{
  color: #1264a3;
  align-items: center;
  padding: .25rem 0 .5rem;
  font-weight: 600;
  display: flex;
}
.packages li p span{
  text-transform: uppercase;
    background-color: #c2e6fd;
    border-radius: 1.25rem;
    max-height: 1rem;
    margin: .15rem 0 0 .5rem;
    padding: .1rem .4rem 0;
    font-size: .65rem;
}

.lower-button {
  display: flex;
  flex-direction: column;
  gap:1rem;
  width: 100%;
  text-align: center;
  color:white;
  height: 8rem;
 
}

.lower-button a{
  background-color: var(--maincolor);
  padding: 1rem;
  padding-top: 1.125rem;
  padding-bottom: 1.125rem;
  color: #fff;
  fill: #fff;
  border: none;
  border-radius: 4px;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1.286;
  transition: box-shadow .42s cubic-bezier(.165,.84,.44,1),color .42s cubic-bezier(.165,.84,.44,1),background .42s cubic-bezier(.165,.84,.44,1);
  margin-left: 1rem;
  margin-right: 1rem;
}
.lower-button a:hover{
  cursor:pointer;
  z-index: 2;
  background-color: #45144b;
}

.lower-button a+a{
  background-color: white;
  color: var(--maincolor);
  border-color:var(--maincolor) ;
  border: 1px solid #611f69;
  letter-spacing: .057em;
}
.lower-button a+a:hover{
  border: 1.75px solid #611f69;
  background-color: white;
}
.lower-arc {
  clip-path: ellipse(80% 200% at 50% -105%);
    height: 5rem;
    margin-bottom: -5rem;
    background-color: white;
    z-index:0;
    margin-bottom: 8rem;
}
.bg2{
  background-color: #45144b;
  color:white;
  width: fit-content;
  width: 100%;
  z-index: -1;

}
.bg2-quote h1{
  color: #fff;
    text-align: center;
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
}
.bg2-content{
  padding: 1rem 1rem;
}
.comp-stat-container {
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
  margin-bottom: 6rem;
}

.comp-stat{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.comp-stat p{
  font-family: var(--fontheading);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: -.0012em;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.stat{
  display: flex;

}
.stat h1{
  font-family:var(--fontheading);
  letter-spacing: -.012em;
  font-weight: 700;
  line-height: 6.5rem;
  color: #d17dfe;
  font-size:4.5rem;
}
.bg3{
  background: linear-gradient(#f9f1ff,#fff 100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
  
}
.bg3-quote{
  text-align: center;
  padding-top: 4rem;
}
.bg3-stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;
  border-bottom: 1px solid black;
}
.bg3-stats .stats{
  text-align: center;
}
.bg3-stats .stats p{
  letter-spacing: 0;
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.429;
}
.bg3-stats .stats h1{
  font-family: var(--fontheading);
  letter-spacing: -.012em;
  margin-bottom: 1rem;
  font-size: 3.125rem;
  font-weight: 400;
  line-height: 1;
}
.bg3-reward {
  padding: 1.5rem;
  text-align: center;
  padding-bottom: 7.8rem;
}
.bg3-reward h1{
  margin-top: 0;
}
.bg3-reward p{
  letter-spacing: 0;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1.429;
  padding-bottom: 3rem;
}

.bg3-reward-box{
  grid-template-rows: repeat(2,1fr);
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  row-gap: 2rem;
  display: grid;
}
.bg3-deepdive{
  text-align: center;
}
.bg3-swiper{
  margin-top: 3rem;
  width: 100%;
  overflow: hidden;
}
.bg3-swiper-wrapper .card{
  background-color: #45144b;
}

.card-slide{
  display: flex;
  flex-direction: column;
  margin: 2.5rem;
  padding: .825rem;
  margin-bottom: 0;
  box-shadow: 0 5px 20px #0000001a;
  border-radius: .5rem;
  text-align: left;
  width: 100%;
  transition: display ease-in-out .5s;
  max-width: 100%;
}

.bg3-navi{
  margin-top: 2rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
  gap: .85rem;
}
.bg3-navi span svg circle{
  fill: #696969;
}

.bg3-navi svg{
  width: 12px;
}

.bg3-navi svg path{
  fill: #acacac;
}

.card-slide h1,p{
  padding: 0;
  margin: 0;
}
.card-slide p{
  margin-top: 8px;
  letter-spacing: .1px;
  line-height: 1.3;
  color: #454245;
  margin: 8px 0 0;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.429;
  display: inline-block;
    
}
.card-slide h1{
  letter-spacing: -.004em;
  color: #000;
  margin: .5rem 0 1rem;
  font-size: clamp(1.4rem, .25641vw + 1.3359rem, 1.5rem);
  font-weight: 700;
  line-height: 30px;
  flex-grow: 1;
  margin-bottom: 3rem;
}
.card-slide .readmore{
  display:flex;
  width: 100%;
  justify-content: space-between;
}
.readmore p {
  color: #1264a3;
  font-weight: 700;
  letter-spacing: .057em;
  text-transform: uppercase;
  white-space: normal;
}
.bg3-swiper-wrapper{
  display: flex;
  justify-content: center;
  
}
.card-slide{
  display: none;
  
  
}
#card1{
  display: flex;
}
#card2{
  
}
#card3{
  
}
#card4{

}

.bg3-info{
  font-size: .875rem;
  color: gray;
  text-align: left;
  padding-top: 4rem;
  padding: 0 2vh;
  font-family: var(--fontbody);
  padding-bottom: 3rem;
}
.bg3-info div{
  font-size: .875rem;
  margin: 0;
  display: block;
}
.bg3-info sup{
  font-size: .875rem;
}

.bg4{
  background-color: #45144b;
  color:white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding-top: 4rem;
  width: 100%;
}
.bg4-getstart{
  padding: 0 2.75vh;
  text-align: center;
  padding-bottom: 1rem;
  
}
.bg4-getstart h1{
  letter-spacing: -.012em;
  line-height: 1.12;
}
#lowerlower {
  margin-top: 2rem;
  
}
#getstarted{
  background-color: white;
  color: #45144b;
}
#talkto {
  background-color: #45144b;
  border-color: white;
  color: white;
}
#lowerlower a{
  font-size: .875rem;
  margin: 0;
}
#lower-arc-purple{
  background-color: #45144b;
  width: 100%;
  margin-bottom: 3rem;
}
.bg5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 80px;
}

.bg5-region{
  display: flex;
  cursor: pointer;
  margin-bottom: 2rem;
  width: fit-content;
}
.bg5-region p{
  margin:0 .5rem;
  font-weight: 700;
  font-size: 1rem;
}
#globe{
  top: 1px;
  position: relative;
}

.bg5-social {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.bg5-collapse{
  margin-top: 2rem;
  border-top: 1px solid #edeaed;
  border-bottom: 1px solid #edeaed;
  width:100%;
  padding-top:1rem;
  padding-bottom: 1rem;
}
.bg5-collapse-head{
  text-transform: uppercase;
  color: #1d1d1d;
  text-align: left;
  letter-spacing: .8px;
  padding-bottom: .45rem;
  font-size: .875rem;
  font-weight: 700;
  display: grid;
  grid-template-columns:100% 1fr;
  grid-template-rows: 1fr;
  cursor: pointer;
  padding: 12px 2.75vh;
  align-items: center;
  
}
.bg5-collapse-head p {
  margin: 0;
  text-transform: uppercase;
  color: #1d1d1d;
  text-align: left;
  letter-spacing: .8px;
  padding-bottom: .45rem;
  font-size: .875rem;
  font-weight: 700;
}
.bg5-collapse-head img{
  rotate:-90deg;
}
.arrow{
  width: 12px;
  position: relative;
  top:-4px;
}

.bg5-collapse-item{
  display: flex;
  flex-direction: column;
  
}

.bg5-collapse-item a{
  color: #696969;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1.555;
  cursor: pointer;
  letter-spacing: -.0012em;
  margin-left: 1rem;
  text-transform: none;
  padding: 6px 0;

}

.bg5-collapse-item a:hover{
  color: #1264a3;
}

.bg5-collapse-item{
  display: none;
}

.bg5-footer{
  width: 100%;
  
}
.bg5-footer-content{
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  
}
#slack{
  width: 40px;
}
.bg5-footer-content a {
  font-weight: 600;
  color: #1264a3;
  cursor: pointer;
  word-break: break-word;
  text-decoration: none;
  margin-top: 1.25rem;
}

.bg5-footer-content .privacy{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  list-style-type: none;
}

.bg5-footer-content ul{
  padding: 1rem 0;
  color: #696969;
  font-size: .875rem;
  font-weight: 500;
}

.bg5-footer-content p{
  color: #696969;
  font-size: .875rem;
  font-weight: 500;
}

.sidebar #sidebar-header{
  box-shadow: 0 0 0 white;
  z-index: 21;
}


.sidebar {
  background-color: white;
  position: fixed;
  top:0;
  right: -100%;
  width: 100%;
  height: 100%;
  transition: right .3s ease-in-out;
  z-index: 90;
}
.sidebar-content{
  display: flex;
  flex-direction: column;
  height: 100%;
  
}

.sidebar-content .bg5-collapse-head p{
  font-size: 1.125rem;
  text-transform: none;
}
#watchdemo p{
  color: #1264a3;
}

.sidebar-content-upper{

 height: 77%;
}
.sidebar-content-lower {
  
}

.sidebar-content-lower .lower-button a{
  background-color:  white;
  border: 1px solid #611f69;
  color:#611f69;
  
}
.sidebar-content-lower .lower-button a+a{
  background-color: #611f69;
  color:white;
}

.button-container{
  display: flex;
  justify-content: center;
  gap: .5rem;
  flex-direction: column;
  width: 80%;

}
.button-container a {
  width: 100%;
  
}

.desktop-des{
  display: none;
}
.video-container{
  display: none;
  justify-content: center;
  padding: 1.25rem;
  padding-top: 4rem;
  
}
.slackvideo{
    display: none;
}
.collab-head{
  flex-direction: column;
}
.desktop-video{
  display: none;
}

#searchlogo+a{
  display: none;
}
header a{
  display: none;
}
#searchlogo {
  display: block;
}
.hamburger a{
  display: block;
}
.button-container a span{
    padding-left: .5rem;
    display: none;
  }
.video-scroller{
  display: none;
}
.slackvideo {
  display: none;
}
.desktop-video{
  display: none;
}
.bg .main{
  /* display: block; */
}
.video{
  display: none;
}
.little-content img{
  display: none;
}

.bg5-desktop{
  width: 100%;
  justify-content: center;
  display: flex; flex-direction: column;
  align-items: center;
}
.bg5-desktop-img{
  display: none;
}
.bg5-collapse{
  width: 100%;
}
.bg5-collapse-head{
  
}
.bg5-desktop-info{
  width: 100%;
}
#vidbg{
  display: none;
}
@media screen and (min-width:1024px) {
  @keyframes slide-in--down {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center ;
  }
  header{
    top:.5rem;
    grid-template-columns: auto 2fr 4rem  4rem auto auto;
    box-shadow: none;
    background-color: white;
    border-bottom: none;
    position: sticky;
    width: fit-content;
    box-shadow: 0 4px 40px #00000014;
    width: 75%;
    border-radius: 50px;
    min-width: 62rem;
    padding: 1rem;
  }
  
  #talkto{
    background-color: white;
    color: #611f69;
    font-size: .875rem; 
    font-weight: 700;
    line-height: 1.286;
    letter-spacing:.057em;
  }
  
  
  .hamburger{
    display: none;
  }
  .header-nav{
    
    display: flex;
    padding-left:4rem;
    gap: 2.5rem;
    align-items: center;
    text-align: center;
  }
  .header-nav p{
    color:#1d1d1d;
    font-weight: 700;
    font-size: 1rem;
    
  }
  #signin{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    color:black;
    font-size: .9375rem;
  }
  #logo{
    position: relative;
    top:10px
  }
  .getStarted{
    display: block;
  }
  .getStarted{
    text-align: center;
    font-size: .875rem; 
    font-weight: 700;
    line-height: 1.286;
    letter-spacing:.057em;
    height:fit-content;
    padding: .75rem 1rem;
    border:1px solid #611f69;
  }
  #talkto{
    display: block;
    border:1px solid #611f69;
    margin: 0 20px;
  }
  header a {
    display: block;
  }
  .main-button p{
    width: 53%;
    letter-spacing: -.004em;
    font-size: 1.125rem;
    line-height: 1.555;
    font-weight: unset;
  }
  .main-connect {
    
    min-width: 90%;
  }
  .main-connect img{
    margin-right: 5rem;
  }
  .main-connect img:first-child{
    margin-left: 5rem;
  }
  .button-container{
    flex-direction: row;
    max-width: 23rem;
  }
  .button-container a span{
    padding-left: .5rem;
    display: block;
  }
  .headline {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .headline h1{
    width: 45%;
  }
  .main{
   padding: 1rem 1rem;
   display: grid;
   grid-template-columns: 1fr 1fr;
  }

  .desktop{
    padding-top: 10rem;
  }
  .main-content .bg .headline h1{
    padding: 0 7rem;
    font-size: 3.125rem;
    font-weight: 700;
    letter-spacing: -0.012em;
    line-height: 3.5rem;
  }
  .desktop-des{
    display: flex;
    margin: 0 auto;
    gap: 1.25rem;
    margin-bottom: 8rem;
    letter-spacing: .057em;
    text-transform: uppercase;
    margin-bottom: 1rem;
    
    font-weight: 700;
    line-height: 1.286;
    text-decoration: none;
  }

  .main-content .arc{
    clip-path: ellipse(70% 200% at 50% 200%);
    height: 8rem;
  }
  .desktop video{
    display: none;
  }
  .desktop .collab,.project,.integrations,.slackai{
    padding-left: 6rem;
    padding-right: 6rem;
    margin-bottom: 24rem;
  }
  
 
  #vidbg path{
    width: 540;
    height: 540;
    }
   .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10rem;

  }
  .video {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
    
  }
  .video video{
    border-radius: .5rem;
    max-width: 550px;
    position: relative;
    top:1rem;
    margin-bottom: 17rem;
    
  }
  .video-container{
    display: flex;
    padding: 0;
    margin: 0;
    width: fit-content;
    justify-content: center;
    align-items: center;
  }
  .slackvideo{
    width: 95%;
    
    display: flex;
    border-radius: .5rem;

  }
  .card{
    margin: 0 10rem;
    flex-direction: row;
  
  }
  #bluecard{
    flex-direction: column;
    gap:1rem;
    justify-content: center;
    padding: 0 2rem;
  }
  .collab-head{
    flex-direction: row;
    
    justify-content: center;
  }
  .collab-head h1{
    font-size: 3.125rem;
    font-weight: 700;
    letter-spacing: -.012em;
    margin-top: 0;
  }
  #collab{
    
  }
  .collab-title{
    display: flex;
    flex-direction: row;
  }
  .collab-title svg{
    margin-right: 1rem;
  }
  .wherework{
    width: 60%
  }
  .desktop-video-hover{
    width: 100%;
  }
  .little-card{
    width: 11.5rem;
  }
  
  .desktop-des .collabs svg{ 
    position: relative;
    top:4px;
    margin-right: 10px;
  }
  .desktop-des{
    gap:20px
  }
  .desktop{
   
  }
  .desktop-des .collabs{
    letter-spacing: .057em;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.286;
    font-size: .875rem;
  }
  
  .fortune {
    flex-direction: row;
    align-items: center; 
    margin-top: 2rem;
  }
  .fortune h1{
    margin: 0;
  }
  .desktop-video-hover{
    display: flex;
    justify-content: center;
  }
  .desktop-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .desktop-video{
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 5rem;
    
    
  }
  .desktop-video h1{
    letter-spacing: -.012em;
    font-size: 3.125rem;
    font-weight: 700;
    margin: 0 17rem;
    margin-bottom: 3rem;
  }
  .desktop-video-hover{
    width: 100%;
    padding: 0 10rem;
    column-gap: 3.5rem;
    
  }
  .little-card{
    height: 20.5rem;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 1rem;
    width: 9rem;
    max-height: 16.25rem;
    transition: width .65s;
    padding: 1.5rem;
    color:white;
  }
  .little-card img:first-child{
    margin-top: 6rem;
  }
  .little-card h3{
    display: none;
    transition: all 1s ease-in .4s;
  }
  .little-card:hover{
    width: 28.75rem;
  }
  .little-card:hover img{
    
    display: block;
  }
  .little-card:hover h3{
    display: block;
    text-align: left;
    
  }
  .little-content{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
  }
  .little-content img{
    width: 90px;
    height: 90px;
    
  }
  
  #li1 {
    background-image: url(../assets/images/minicard/background-openai.jpg);
    /* width: 28.75rem; */
  }
  #li2{
    background-image: url(../assets/images/minicard/spotify-poster.jpg);
  }
  #li3{
    background-image: url(../assets/images/minicard/background-ezcater.jpg);
  }
  #li4{
    background-image: url(../assets/images/minicard/background-ari.jpg);
  }
  .packages-container{
    display: flex;
  }
  .packages-container{
    padding: 1rem 0rem;
  }
  .packages-container .packages{
    width: 17.5%;
  }
  .lower-button{
    flex-direction: row;
    justify-content: center;
    height: auto;
  }
  .lower-button a{
    text-align: center;
    margin: 2rem 0;
    width: 10rem;
  }
  .bg2{
    width: 100%;
    padding-bottom: 10rem;
  }
  .comp-stat-container{
    flex-direction:row ;
    justify-content: space-between;
    padding: 0 12rem;
    margin-top: 2rem;
  }
  .comp-stat-container .comp-stat{
    width: 17.5rem;
    
  }
  .comp-stat-container .comp-stat h1{
    color: #d17dfe;
    font-size: 6rem;
    line-height: 6.5rem;
  }
  .comp-stat-container .comp-stat p{
    margin-top: 1rem
  }
  .bg2-quote h1{
    font-size: 3.125rem;
    margin-top: 9rem;
  }
  .lower-arc{
    clip-path: ellipse(70% 200% at 50% -105%);
  }
  .bg3-desktop-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .bg3-stats{
    border: none;
    align-items: flex-start;
    border-right: 1px solid gray;
  }
  .bg3-stats-info{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .bg3-stats .stats{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
  .bg3-stats .stats p{
    margin: 0;
    margin-top: 1rem;
    margin-left:1rem;
    width: 60%;
    text-align: left;
  }
  .bg3-quote{
    line-height: 3.5rem;
    font-size: 3.125rem;
  }
  .bg3-reward h1{
    margin-top: 3rem;
  }
  .bg3-reward{
    margin-left: 4rem;
  }
  .card-slide{
    display: flex!important;
    margin-bottom: 1rem;
    transition: transform .42s cubic-bezier(.165,.84,.44,1);
  }
  .card-slide:hover{
    transform: scale(1.05);
    cursor: pointer;
  }
  .bg3-navi {
    display: none;
  }
  .bg3-info{
    margin-top: 5rem;
    
  }
  .bg3-deepdive{
    padding: 0 7rem;
  }
  #lower-arc-purple{
    /* clip-path: ellipse(75% 100% at top); */
  }
  .bg5-desktop{
    width: 95%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
  .arrow{
    display: none;
  }
  .bg5-collapse-head{
    width: fit-content;
    display: flex;
    flex-direction: column;
  }
  .bg5-collapse-item{
    display: flex !important; 
  }
  .bg5-collapse-item a{
    margin-left: 0;
    
  }
  .bg5-collapse{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    border: none;
    margin: 0;
    
  }
  .bg5-collapse-head p {
    width: 100%;
    text-align: left;
  }
  #col1 { 
    grid-area: 1 / 1 / 2 / 2; 
  }
  #col2 { 
    grid-area: 2 / 1 / 3 / 2; 
  }
  #col3 { 
    grid-area: 1 / 2 / 3 / 3; 
  }
  #col4 { 
    grid-area: 1 / 3 / 3 / 4; 
  }
  #col5 { 
    grid-area: 1 / 4 / 3 / 5; 
  }
  #col6 { 
    grid-area: 1 / 5 / 3 / 6; 
  }
  .bg5-desktop-info{
    display: flex;
    width: 90%;
    gap: 10rem;
    padding-top: 3rem;
    border-top: 1px solid #edeaed;
  }
  .bg5-desktop-img{
    margin-top: 2rem;
  }
  .bg5-desktop-img{
  display: block;
  }
  .bg5-footer-content{
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 0 3rem;
    border-top: 1px solid #edeaed;
    padding: 2rem 0;
  }
  .bg5-footer-content #slack{
    display: none;
  }
  .bg5-footer-content a{
    margin-top: 0;
  }
  .bg5-footer-content ul+p{
    width: 12rem;
  }
  .bg5-footer-content p+p{
    margin-left: 13rem;
    text-align: right;
    width: 50%;
  }
  .bg5-footer-content ul{
    width: fit-content  ;
  }
  .main-content .discussing-video{
    width: 50%;
  }
  .video-sroller{
    position: relative;
    display: block;
    min-height: 200vh;
  }
  
#vidbg {
  position: absolute;
  display: block;
  left: 20%;
  z-index: -1;
  transition:top 0.3s;
  pointer-events: none;
}
#vidbg path{
  transition: fill 0.3s;
}
.video video {
  opacity: 0;
  transform: translateY(60px) scale(0.96);
  transition: opacity 0.7s cubic-bezier(.4,0,.2,1), transform 0.7s cubic-bezier(.4,0,.2,1);
  will-change: opacity, transform;
  position: relative;
  z-index: 1;
  display: block;
  margin: 0 auto;
  margin-bottom: 17rem;
  left: -5rem;
  
}
#vid1{
  margin-bottom:18rem;
}
#vid3{
  margin-bottom: 19rem;
}
.slackai{
  margin-bottom: 0;
}
#vid4{
  margin-bottom: 0;
}
.main{
  margin-bottom: 7.5rem;
  padding: 1rem 14rem;
}
.video{
    position: relative;
    
  }
.video video.visible {
  opacity: 1;
  transform: translateY(0) scale(1);
  z-index: 2;
  margin-bottom: 20rem;
}

.video video.disappear {
  opacity: 0;
  transform: translateY(-60px) scale(0.96);
  z-index: 0;
}
.quote{
  margin-top: 8rem;
}
.quote h1{
  font-size: 3.125rem;
}
#talkto{
  background-color: #45144b;
  border-color: white;
  color: white;
}
header a #talkto{
  color: #611f69;
  background-color: white;
  border:1px solid #611f69;
}
.desktop div .collab-head+h1{
  width: 440px;
  margin-bottom: 1rem;
}
} 